# Configuración MySQL (LatinHosting)
MYSQL_HOST=148.113.168.25
MYSQL_USER=stuartte_edward
MYSQL_PASSWORD=tu_contraseña_aqui
MYSQL_DATABASE=stuartte_pokedex
MYSQL_PORT=3306

# Configuración MongoDB (Atlas)
MONGO_URI=mongodb+srv://usuario:password@cluster.xxxxx.mongodb.net/pokeapi
MONGO_DB_NAME=pokeapi

# Servidor
PORT=3000
